body{
    background-color: rgb(55, 255, 0);
}

.grid{
margin-top: 30px;
margin-left: 20px;
display: grid;
grid-template-columns:60px 60px;
grid-template-rows:40px 40px 40px 40px 40px 40px 40px 40px 40px 40px;
grid-gap: 5px;
}
.clicked{
    border: solid 5px black ;
}
.notclicked{
    border: solid 5px gray;
}

